.row {
    @apply w-full mb-12 px-4
}

.card {
    @apply relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0
}

.card .card-header {
    @apply rounded-t bg-white mb-0 px-4 py-3 border-b border-gray-200
}

.card .card-header-container {
    @apply text-center flex justify-between
}

.card .card-title {
    @apply font-semibold text-lg text-gray-800
}

.card .card-body {
    @apply bg-white p-4
}

.btn {
    @apply font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 cursor-pointer
}

.btn-sm {
    @apply text-xs py-1 px-2
}

.btn.btn-primary {
    @apply bg-pink-500 text-white active:bg-pink-600
}

.btn.btn-secondary {
    @apply bg-gray-500 text-white active:bg-gray-600;
}

.btn.btn-success {
    @apply bg-green-500 text-white active:bg-green-600;
}

.btn.btn-warning {
    @apply bg-yellow-500 text-white active:bg-yellow-600;
}

.btn.btn-danger {
    @apply bg-red-500 text-white active:bg-red-600;
}

.btn.btn-info {
    @apply bg-blue-500 text-white active:bg-blue-600;
}


.sidebar-nav-active {
    @apply text-xs uppercase py-3 font-bold block text-pink-500
}

.sidebar-nav-active > i {
    @apply mr-2 text-sm opacity-75
}

.sidebar-nav-active:hover {
    @apply text-pink-600
}

.sidebar-nav {
    @apply text-xs uppercase py-3 font-bold block text-gray-800
}

.sidebar-nav > i {
    @apply mr-2 text-sm text-gray-400
}

.sidebar-nav:hover {
    @apply text-gray-600
}

.form-group {
    @apply mt-4
}

.form-group:first-of-type {
    @apply mt-0
}

.validation-message {
    display: none;
    @apply text-red-500
}

.form-group.invalid input,
.form-group.invalid select,
.form-group.invalid textarea {
    @apply border-red-500 !important;
}

.form-group.invalid .validation-message {
    display: block !important;
}

label {
    @apply inline-block
}

.form-control {
    @apply w-full
}

.table {
    @apply items-center table-auto w-full bg-transparent border-collapse
}

.table th {
    @apply px-4 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left bg-gray-100 text-gray-600 border-gray-200
}

.table td {
    @apply px-4 py-2 border-dashed border-t border-gray-200
}

.table > tbody > tr:hover {
    @apply bg-gray-100
}

.form-group .required::after {
    content: " *";
    color: rgba(239, 68, 68, 1);
}
